*:not(code) {
    font-family: sans-serif;
}

.bg-dark {
    background: #750000;
}
.bg-white {
    background: white;
}

.c-dark {
    color: #750000;
}
.c-white {
    color: white;
}

.form {
    text-align: center;
    padding: 2em;
    border-radius: 1em;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 50em;
    max-height: 80vh;
    overflow-y: scroll;
}

.table {
    width: 20em;
}

.table * {
    color: #750000;
}

.text-input {
    border-radius: .5em;
    border: .1em solid #750000;
    padding: 1em;
}

.submit {
    cursor: pointer;
    border-radius: .5em;
    padding: 1em;
}

.preview {
    max-height: 10em;
    border-radius: 1em;
}

.token-broken {
    background: #ff9c9c;
    border-radius: .5em;
    border: .1em solid #750000;
    padding: 1em;
}